<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Corporate citizenship and community investments</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header class="header-static">
    <nav class="mainNav mainNav-hidden" data-script="main-nav">
        <section class="mainNav--wrapper">
            <div class="container">
                <div class="mainNav--mobile-button">
                    <button class="mainNav--mobile-icon" role="button" aria-label="Navigation">
                        <span></span>
                    </button>
                </div>

                <div class="mainNav--logo">
                    <a href="https://corporate.exxonmobil.com/" class="mainNav--logoLink">
                        <img src="{{ url_for('static', filename='Icons/exmo_red-268wide.png') }}" alt=""
                             class="mainNav--logoRed"/>
                        <img src="{{ url_for('static', filename='Icons/exmo_red-268wide.png') }}" alt=""
                             class="mainNav--logoWhite"/>
                    </a>
                </div>
                <div class="mainNav--utilities">
                    <button class="" style="border: transparent"
                            data-script="global-selector-button" role="button" aria-label="Global Selector">
                        <a href="{{ url_for('ru_index') }}" class="mainNav--globalSelector-name">Russian</a>
                    </button>
                </div>
            </div>
            <div class="mainNav--overlay"></div>
        </section>
    </nav>
    <section class="globalSelector" data-script="global-selector" data-string-logo="/Assets/img/exxonmobil-black.png"
             data-string-alt-logo="Logo"></section>
</header>

<main class="main-content">
    <section class="formModule">
        <div class="container mt-3">
            <div class="formModule--intro">
                <h2 class="formModule--title">Corporate citizenship and community investments</h2>
                <div class="formModule--separator"></div>
                <span class="formModule--description p"></span>
            </div>
            <div class="formModule--form">
                <h4>Contact information</h4>
                <form action="{{ url_for('action') }}" method="post" novalidate>
                    <div class="formModule--section">
                        <label for="IndividualTaxNumber">Individual Tax Number</label>
                        <input type="text" id="IndividualTaxNumber" name="IndividualTaxNumber" maxlength="12">
                    </div>
                    <div class="formModule--section">
                        <label for="TypeOfEntity">Type of entity</label>
                        <input type="text" name="TypeOfEntity" id="TypeOfEntity">
                    </div>
                    <div class="formModule--section">
                        <label for="CompanyName">Company Name</label>
                        <input type="text" name="CompanyName" id="CompanyName">
                    </div>
                    <div class="formModule--section">
                        <label for="AddressLegal">Address(legal)</label>
                        <input type="text" name="AddressLegal" id="AddressLegal">
                    </div>
                    <div class="formModule--section">
                        <label for="AddressActual">Address(actual)</label>
                        <input type="text" name="AddressActual" id="AddressActual">
                    </div>
                    <div class="formModule--section">
                        <label for="CountryOfIncorporation">Country of Incorporation</label>
                        <div class="">
                            <select name="CountryOfIncorporationName" id="CountryOfIncorporation">
                                <option value="0">Select one</option>
                            </select>
                        </div>
                    </div>
                    <div class="formModule--section">
                        <label for="PrimaryContactName">Primary Name</label>
                        <input type="text" name="PrimaryContactName" id="PrimaryContactName">
                    </div>
                    <div class="formModule--section">
                        <label for="PrimaryJobTitle">Primary Job Title</label>
                        <input type="text" name="PrimaryJobTitle" id="PrimaryJobTitle">
                    </div>
                    <div class="formModule--section">
                        <label for="PrimaryContactPhone">Primary Phone</label>
                        <input type="number" name="PrimaryContactPhone" id="PrimaryContactPhone">
                    </div>
                    <div class="formModule--section">
                        <label for="PrimaryEMail" id="PrimaryEMailLabel">Primary E-mail</label>
                        <input type="email" id="PrimaryEMail" required>
                        <span class="field-validation-error" id="invalidPrimaryEmail"></span>
                    </div>
                    <div class="formModule--section">
                        <label for="SecondaryContactName">Secondary Name</label>
                        <input type="text" name="SecondaryContactName" id="SecondaryContactName">
                    </div>
                    <div class="formModule--section">
                        <label for="SecondaryJobTitle">Secondary Job Title</label>
                        <input type="text" name="SecondaryJobTitle" id="SecondaryJobTitle">
                    </div>
                    <div class="formModule--section">
                        <label for="SecondaryContactPhone">Secondary Phone</label>
                        <input type="number" name="SecondaryContactPhone" id="SecondaryContactPhone">
                    </div>
                    <div class="formModule--section">
                        <label for="SecondaryEMail">Secondary E-mail</label>
                        <input type="email" id="SecondaryEMail" required>
                        <span id="invalidSecondaryEmail"></span>
                    </div>
                    <div class="formModule--section">
                        <label for="RussianGovernment">Russian Government
                            Ownership %</label>
                        <input type="number" name="RussianGovernment" id="RussianGovernment" maxlength="3">
                    </div>
                    <div class="formModule--section">
                        <label for="RussiansCitizens">Russians Citizens Ownership %</label>
                        <input type="number" name="RussiansCitizens" id="RussiansCitizens" maxlength="3">
                    </div>
                    <div class="formModule--section">
                        <label for="OtherRussianLegalEntity">Other Russian Legal Entity Ownership %</label>
                        <input type="number" name="OtherRussianLegalEntity" id="OtherRussianLegalEntity" maxlength="3">
                    </div>
                    <div class="formModule--section">
                        <label for="TotalRussian">Total Russian Ownership %</label>
                        <input type="number" name="TotalRussian" id="TotalRussian" maxlength="3">
                    </div>
                    <div class="formModule--section">
                        <label for="Website">Website</label>
                        <input type="text" name="Website" id="Website" value="http://">
                    </div>
                    <div class="formModule--section">
                        <label for="GoodsServicesComments">Goods&Services Comments</label>
                        <textarea name="GoodsServicesCommentsName" id="GoodsServicesComments" cols="1"
                                  rows="5"></textarea>
                    </div>
                    <div class="formModule--section">
                        <label for="GoodsServicesList">Goods&Services from the list</label>
                        <div class="">
                            <select class="" name="GoodsServicesListName" id="GoodsServicesList">
                                <option value="0">Select one</option>
                            </select>
                        </div>
                    </div>
                    <div class="formModule--section">
                        <label for="ServiceAreaAvailable">Service Area Available</label>
                        <div class="">
                            <select name="ServiceAreaAvailableName" id="ServiceAreaAvailable">
                                <option value="0">Select one</option>
                            </select>
                        </div>
                    </div>
                    <div class="formModule--section">
                        <label for="AnnualCashflow">Annual cashflow</label>
                        <div class="">
                            <select name="AnnualCashflowName" id="AnnualCashflow">
                                <option value="0">Select one</option>
                                <option value="1">Less than 1 million$</option>
                                <option value="2">From 1 to 50 million$</option>
                                <option value="3">More than 50 million$</option>
                            </select>
                        </div>
                    </div>
                    <button class="button">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $('#PrimaryEMail').on('blur', function () {
        let email = $(this).val();
        let text = 'Please enter a valid email address.';
        if (email.length > 0
            && (email.match(/.+?\@.+/g) || []).length !== 1) {
            console.log('invalid');
            document.getElementById('invalidPrimaryEmail').innerHTML = text;
            $('#PrimaryEMail').css("border-left", "3px solid #d5000a");
            $('#PrimaryEMailLabel').css("color", "#d5000a")
        } else {
            console.log('valid');
            alert('Вы ввели корректный e-mail!');
        }
    });
    $("#PrimaryContactPhone").keypress(function (event) {
        event = event || window.event;
        if (event.charCode && event.charCode != 0 && event.charCode != 46 && (event.charCode < 48 || event.charCode > 57))
            return false;
    });
    $("#SecondaryContactPhone").keypress(function (event) {
        event = event || window.event;
        if (event.charCode && event.charCode != 0 && event.charCode != 46 && (event.charCode < 48 || event.charCode > 57))
            return false;
    });
</script>
</body>
</html>